* {
	box-sizing: border-box;
}
    
body{
    color: black; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 17px;
}

.padre {

    background-color:#999999;
    border-radius: 12px;
    margin: auto;
    
    width: 395px;
    height: 670px;
    overflow: hidden;
}

p{
    margin: 10px;
}

b{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    height: 28px;
    color:azure;  
    font-family: 'Times New Roman', 
    Times, serif; 
    font-size: 40px;
}

button{
    color: black;
    font-weight: bold;
    background-color:rgb(82, 161, 157);
    width: 100px;
    height: 50px;
    font-family: 'Times New Roman';    
}

.form{
    padding: 25px 35px;
}

input{
    padding: 5px;
    border-radius: 12px;
}

select{
    height: 30px ;
    width: 100px;
    border-radius: 12px;
}
